zookeeper.connect={{ zookeeper_url }}
zookeeper.connection.timeout.ms=18000

broker.id={{ broker_id }}
num.network.threads=3
num.io.threads=8
socket.send.buffer.bytes=102400
socket.receive.buffer.bytes=102400
socket.request.max.bytes=104857600
log.dirs=/var/lib/kafka
num.partitions=1
num.recovery.threads.per.data.dir=1
transaction.state.log.min.isr=1
log.retention.hours=168
log.segment.bytes=1073741824
log.retention.check.interval.ms=300000

group.initial.rebalance.delay.ms=0
confluent.balancer.enable=true

offsets.topic.replication.factor=2
transaction.state.log.replication.factor=2
confluent.metrics.reporter.topic.replicas=2
confluent.license.topic.replication.factor=2
confluent.metadata.topic.replication.factor=2
confluent.security.event.logger.exporter.kafka.topic.replicas=2
confluent.balancer.topic.replication.factor=2
default.replication.factor=2
min.insync.replicas=1

listeners=SASL_PLAINTEXT://:9092
inter.broker.listener.name=SASL_PLAINTEXT
sasl.enabled.mechanisms=PLAIN
listener.security.protocol.map=SASL_PLAINTEXT:SASL_PLAINTEXT,SASL_SSL:SASL_SSL

sasl.mechanism.inter.broker.protocol=PLAIN
