bootstrap.servers={{ broker_oauth_url }}

# consumer group id
group.id=test-consumer-group
auto.offset.reset=earliest
security.protocol=SASL_PLAINTEXT
sasl.mechanism=OAUTHBEARER
sasl.login.callback.handler.class=io.confluent.kafka.server.plugins.auth.token.TokenBearerServerLoginCallbackHandler
sasl.jaas.config=org.apache.kafka.common.security.oauthbearer.OAuthBearerLoginModule required \
    metadataServerUrls="{{ mds_url }}" \
    username="{{ admin }}" password="{{ admin_password }}" \
    publicKeyPath="{{ mds_public_key }}";
