bootstrap.servers={{ broker_url }}
zookeeper.connect={{ zookeeper_url }}
confluent.controlcenter.id=1
confluent.controlcenter.data.dir=/opt/confluent/control-center
confluent.controlcenter.internal.topics.replication=2
confluent.controlcenter.command.topic.replication=2
confluent.controlcenter.ui.autoupdate.enable=false
confluent.controlcenter.usage.data.collection.enable=false

confluent.metadata.bootstrap.server.urls={{ mds_url }}
confluent.metadata.basic.auth.user.info={{ admin }}:{{ admin_password }}
confluent.controlcenter.streams.security.protocol=SASL_PLAINTEXT
confluent.controlcenter.kafka.kcluster.security.protocol=SASL_PLAINTEXT
confluent.controlcenter.rest.authentication.method=BEARER
public.key.path=/opt/kafka/public.pem
confluent.monitoring.interceptor.topic.replication=2
