bootstrap.servers=openldap.bnh.vn:9091,hieund-kafka-01.bnh.vn:9091,hieund-kafka-02.bnh.vn:9091
zookeeper.connect=openldap.bnh.vn:2181,hieund-kafka-01.bnh.vn:2181,hieund-kafka-02.bnh.vn:2181
confluent.controlcenter.id=1
confluent.controlcenter.data.dir=/tmp/confluent/control-center
confluent.controlcenter.internal.topics.replication=2
confluent.controlcenter.command.topic.replication=2
confluent.controlcenter.ui.autoupdate.enable=false
confluent.controlcenter.usage.data.collection.enable=false


confluent.metadata.bootstrap.server.urls=http://hieund-kafka-02.bnh.vn:8090,http://hieund-kafka-01.bnh.vn:8090,http://openldap.bnh.vn:8090
confluent.metadata.basic.auth.user.info=hieund:abcxyz
confluent.controlcenter.streams.security.protocol=SASL_PLAINTEXT
confluent.controlcenter.kafka.kcluster.security.protocol=SASL_PLAINTEXT
confluent.controlcenter.rest.authentication.method=BEARER
public.key.path=/opt/kafka/public.pem

confluent.monitoring.interceptor.topic.replication=2
