bootstrap.servers={{ broker_oauth_url }}
zookeeper.connect={{ zookeeper_url }}
confluent.controlcenter.id={{ control_center_id }}
confluent.controlcenter.data.dir={{ control_center_datadir }}
confluent.controlcenter.ui.autoupdate.enable=true
confluent.controlcenter.usage.data.collection.enable=false

confluent.metadata.bootstrap.server.urls={{ mds_url }}
confluent.metadata.basic.auth.user.info={{ admin }}:{{ admin_password }}
confluent.controlcenter.streams.security.protocol=SASL_PLAINTEXT
confluent.controlcenter.kafka.kcluster.security.protocol=SASL_PLAINTEXT
confluent.controlcenter.rest.authentication.method=BEARER
public.key.path={{ mds_public_key }}

confluent.monitoring.interceptor.topic.replication=2
confluent.controlcenter.internal.topics.replication=2
confluent.controlcenter.command.topic.replication=2

confluent.controlcenter.schema.registry.url={{ schema_registry_url }}
