*.retry 
roles/*/vars/*
sample.yaml
roles/*/defaults/main.yaml
./*.yaml
roles/linux-update-dns-bind/files/bnh.vn.db
sample.yaml
sample.yaml
install-docker.yaml
sample.yaml
add_lvm.yaml
roles/linux_update_dns_bind/files/bnh.vn.db
*.db
