*.retry 
roles/*/vars/*
sample.yaml
roles/*/defaults/main.yaml
./*.yaml
./*.yml
roles/linux-update-dns-bind/files/*.db
sample.yaml
sample.yaml
install-docker.yaml
sample.yaml
add_lvm.yaml
*.db
roles/cloudera_install_agent/files/hosts
extend-lvm.yaml
cloudera-add-host.yaml
update-dns.yaml
roles/cloudera_install_agent/files/krb5.conf
