*.retry 
roles/*/*/vars/main.yaml
roles/linux/linux-update-dns-bind/files/*.db
*.db
roles/cloudera/cloudera_install_agent/files/hosts
roles/cloudera/cloudera_install_agent/files/krb5.conf
roles/.DS_Store
roles/**/.DS_Store
.vscode/settings.json
inventory
roles/confluent/install_confluent_cluster/vars/main.yaml
