<?xml version="1.0" encoding="UTF-8"?>
<oimplugins xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <plugins pluginpoint="oracle.iam.scheduler.vo.TaskSupport">
    <plugin pluginclass="{{ plugin_class }}" version="{{ plugin_version }}" name="{{ plugin_name }}"></plugin>
  </plugins>
</oimplugins>