CREATE USER 'innodb_admin'@'{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] | regex_replace('([0-9.]+\.)[0-9]{1,3}$', '\1') }}%' IDENTIFIED BY '{{ innodb_admin_password }}';
GRANT BACKUP_ADMIN, CLONE_ADMIN, CREATE USER, EXECUTE, FILE, PERSIST_RO_VARIABLES_ADMIN, PROCESS, RELOAD, REPLICATION CLIENT, REPLICATION SLAVE, REPLICATION_APPLIER, SELECT, SHUTDOWN, SUPER, SYSTEM_VARIABLES_ADMIN ON *.* TO 'innodb_admin'@'{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] | regex_replace('([0-9.]+\.)[0-9]{1,3}$', '\1') }}%' WITH GRANT OPTION;
GRANT DELETE, INSERT, UPDATE ON mysql.* TO 'innodb_admin'@'{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] | regex_replace('([0-9.]+\.)[0-9]{1,3}$', '\1') }}%' WITH GRANT OPTION;
GRANT ALTER, ALTER ROUTINE, CREATE, CREATE ROUTINE, CREATE TEMPORARY TABLES, CREATE VIEW, DELETE, DROP, EVENT, EXECUTE, INDEX, INSERT, LOCK TABLES, REFERENCES, SHOW VIEW, TRIGGER, UPDATE ON mysql_innodb_cluster_metadata.* TO 'innodb_admin'@'{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] | regex_replace('([0-9.]+\.)[0-9]{1,3}$', '\1') }}%' WITH GRANT OPTION;
GRANT ALTER, ALTER ROUTINE, CREATE, CREATE ROUTINE, CREATE TEMPORARY TABLES, CREATE VIEW, DELETE, DROP, EVENT, EXECUTE, INDEX, INSERT, LOCK TABLES, REFERENCES, SHOW VIEW, TRIGGER, UPDATE ON mysql_innodb_cluster_metadata_bkp.* TO 'innodb_admin'@'{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] | regex_replace('([0-9.]+\.)[0-9]{1,3}$', '\1') }}%' WITH GRANT OPTION;
GRANT ALTER, ALTER ROUTINE, CREATE, CREATE ROUTINE, CREATE TEMPORARY TABLES, CREATE VIEW, DELETE, DROP, EVENT, EXECUTE, INDEX, INSERT, LOCK TABLES, REFERENCES, SHOW VIEW, TRIGGER, UPDATE ON mysql_innodb_cluster_metadata_previous.* TO 'innodb_admin'@'{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] | regex_replace('([0-9.]+\.)[0-9]{1,3}$', '\1') }}%' WITH GRANT OPTION;
FLUSH PRIVILEGES;